*.pid
*.xml
*.csr
*.crt
*.key
*.conf
*.pickle
._.*
._*
home-assistant.log
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
*.db-journal
*.db-shm
*.db-wal
lib
deps
tts
secrets.yaml
secrets
known_devices.yaml
ios.conf
pyozw.sqlite
nest.conf
.uuid
.google.token
fitbit.conf
.DS_Store
test.yaml
OZW_Log.txt
pyozw.sqlite
zwcfg_0xc87a5160.xml
zwscene.xml
google_calendars.yaml
example.yaml
update.sh
janne.jpg
moa.jpg
maria.jpg
/removed/*
